.env

/node_modules

/.next/

/build

.vercel

*.tsbuildinfo
next-env.d.ts

**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map